<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CrearUsuarioServlet</servlet-name>
        <servlet-class>dej4501.svl.CrearUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>java</servlet-name>
        <servlet-class>PasswordEncoderGenerator.java</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>dej4501.svl.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRegionesServlet</servlet-name>
        <servlet-class>dej4501.svl.GetRegionesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetComunaServlet</servlet-name>
        <servlet-class>getComuna</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProvinciaServlet</servlet-name>
        <servlet-class>getProvincia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarServlet</servlet-name>
        <servlet-class>mostrar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrearUsuarioServlet</servlet-name>
        <url-pattern>/crearUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>java</servlet-name>
        <url-pattern>/java</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRegionesServlet</servlet-name>
        <url-pattern>/getRegionesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetComunaServlet</servlet-name>
        <url-pattern>/getComunaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProvinciaServlet</servlet-name>
        <url-pattern>/getProvinciaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarServlet</servlet-name>
        <url-pattern>/mostrarServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
